<html lang="vi">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>

<body>

    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>

</html>

<!-- MENU SECTION END-->
<div class="content-wrapper" style="background: aqua;">
    <div class="container">
        <div class="row pad-botm">
            <div class="col-md-12">
                <h1 class="header-line">Thêm Mới Danh Mục</h1>

            </div>

        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12" style="margin-left: 25%;">
                <div class="panel panel-info" style="border-radius: 25px; border-width: 2px; border-color: black;">
                    <div class="panel-body">
                        <form role="form" method="post" action="/danh-muc">
                    
                            <div class="form-group">
                                <label>Name</label>
                                <input class="form-control" onchange="validation()" id="name"
                                 type="text" name="name" />
                            </div>
                            <div class="form-group">
                                <label>Description</label>
                                <textarea class="form-control" name="description"></textarea>
                            </div>

                            <button type="submit" id="submit"
                                class="btn btn-primary">Submit</button>
                            <button type="reset" class="btn btn-reset">Reset</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        const validation = () => {
            const name = document.getElementById('name').value;
            const submit = document.getElementById('submit');

            if (!name || name.trim().length == 0) {
                submit.disabled = true;
            } else {
                submit.disabled = false;
            }
        }
    </script>